.picture-canvas-loading{
  width: 100%;
  height:100%;
  .ant-spin-container{
    width: 100%;
    height:100%;
  }
}
.picture-canvas {
  position: relative;
  height: 100%;;
  width: 100%;
  canvas {
    width: 100%;
    height: 100%;;
    transition: transform 0.3s;
  }
  .menu-action-group{
    position: absolute;
    font-size: 12px;
    width: 86px;
    height:90px;
    overflow: hidden;
    .menu-action-item{
      padding:4px 10px;
      background: #ffffff;
      margin-bottom:4px;
      border-radius: 15px;
      box-shadow: 0 0 2px rgba(0,0,0,0.2);
      .anticon{
        padding-right:2px;
        font-size: 16px;
        color:#89b;
      }
      &:hover{
        background: #ffaa00;
        color:#fff;
        cursor: pointer;
        .anticon{
          color:#fff;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
