.libs-select-tl{
  display: flex;
  >div{
    width: 422px;
    border: 1px solid #d8dce3;
    height: 300px;
    &:nth-child(2){
      margin-left: 8px;
    }
    .title-part{
      border-bottom: 1px solid #d8dce3;
      font-weight: 700;
      color: #333333;
    }
    .anticon{
      color: #8899bb;
      font-size: 16px;
    }
  }
}