.detail-personnel-room {
  padding-top: 18px;
  .room-header {
    font-size: 14px;
    color: #ff8800;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .room-content {
    position: relative;
    height: 530px;
    background: #fff;
    box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
  }
}