.snapshot-record-container{
  .wrapper{
    .search{
      .personnel-list{
        width: 100%;
        background: #fff;
        .object-map-personnel-card{
          margin: 25px auto;
          box-shadow: none;
          &:hover{
            border-color: transparent;
          }
        }
      }
    }
    .container{
      .wrapper-content {
        .baselib-list-wrapper.snapshot-wrapper {
          justify-content: flex-start;
          align-content: flex-start;
          overflow: auto;
          padding: 24px 160px;
        }
      }
    }
  }
  .header-little-pagtion{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 47px;
    .header-info{
      span{
        color: #f80;
      }
    }
    .header-button{
      margin: 0px 24px 0 16px;
    }
  }
}