.soldier-modal {
  .ant-modal-body {
    .soldier-modal-content-wrapper {
      .name-label {
        font-size: 12px;
        // color: #666666;
        position: relative;
        margin-bottom: 4px;
      }
      .name-label.required {
        &::before{
          content: '*';
          color: red;
          position: absolute;
          left: -10px;
          top: 2px;
        }
      }
      .soldier-name-wrapper {
        .name-value {
          width: 100%;
          .ant-input {
            height: 28px;
            border-radius: 3px;
          }
        }
      }
      .org-user-wrapper{
        margin-top: 16px;
        .solider-choice-user {
          height: 360px;
          width: 100%;
          display: flex;
          border: solid 1px;
          border-radius: 4px;
          .setting-tree-content {
            width: 60%;
            padding: 11px;
            height: calc(~"100% - 1px");
            overflow: auto;
            .ant-divider-horizontal{
              margin:10px 0;
            }
            .setting-org-tree {
              height: calc(~"100% - 50px")
            }
            .ant-tree-node-content-wrapper.ant-tree-node-selected {
              // background:#D8DCE3;
            }
          }
        }
      }
    }
  }
}

// 用户列表
.choice-user-list {
  display: inline-block;
  width: 53%;
  border-left: solid 1px;
  padding: 16px;
  overflow-y: auto;
  .user-item {
    padding: 5px 16px;
    display: flex;
    justify-content: space-between;
  }
  // .user-item.active {
  //   // background: #D8DCE3;
  //   .user-select-icon {
  //     // color: #ffaa00;
  //   }
  // }
}
