.soldier-modal-content-wrapper{
  padding:20px;
  .solider-choice-user{
    .setting-org-tree{
      width:350px;
      .ant-divider-horizontal{
        margin:8px 0;
      }
      .tree-checkall.ant-checkbox-wrapper{
        margin-left:10px;
      }
    }
  }
  .soilder-search-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .search-right {
      .ant-input-search {
        width: 280px;
      }
    }
  }

}
