.setting-title-wrapper {
   margin-top:16px;
  .title-container {
    padding: 8px 16px 0 0px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid #B5BBC7;
    .title {
      font-size: 14px;
      // color: #333333;
      line-height: 32px;
    }
    .title-right {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ant-btn {
        margin-left: 16px;
      }
    }
  }
}
