@import '../../../assets/style/vars.less';

.sw-upload-wrapper{
  text-align: center;
  width: 100px;
  .upload-content-wrapper{
    .upload-btn-wrapper{
      width: 84px;
      height: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      border: 1px solid @c-ddd;
      .ant-upload-icon{
        font-size: 32px;
        opacity: 0.6;
      }
      .ant-upload-text{
        color: #999;
        font-size: @fs-12;
      }
    }
  }
  // 上传提示信息样式
  .uploader-tip{
    .setFont(@fs-12, #999);
    margin-top: 6px;
  }
}