.lm-player{
  width: 100%;
  height:100%;
  user-select: none;
  position: relative;
  .player-marke{
    pointer-events: none;
  }
  .html5-player-container{
    background: #000;
  }
  .html5-player-button-container{
    display: none !important;
  }
  .drag-layout{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 1;
    left:0;
    top:0;
  }
  .rect-search-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    .picture-canvas  {
      width: 100%;
      height: 100%;
      canvas {
        height: 100%;
      }
    }
  }
}