.object-map-personnel-detail-entry {
  background: #f3f6f9;
  height: 100%;
  .detail-ploy-content {
    height: calc(~'100% - 48px');
    overflow: auto;
    .ploy-scroll {
      width: 1080px;
      margin: 0 auto;
      height: auto;
      padding-bottom: 48px;
    }
  }
}