@import "./layout/index.less";
@import "./pages/index.less";

body{
  .ant-select-selection,.ant-input{
    border-radius: 3px;
  }
  .ant-menu-submenu-popup ,.ant-menu-inline-collapsed-tooltip{
    display: none;
  }
  .ant-back-top-icon {
    background-size: 100% 100%;
  }
  .icon-primary{
    color: @icon-font-color;
  }
  label {
    font-weight: 400;
  }
}