@import '../../vars.less';
.personnel-composition-analysis-view {
  background:rgb(243,246,249);
  .place-device-resources .left-icon-view{
  color: @icon-font-color;
  }

  .place-label-edit{
    color: @icon-font-color;
  }
  .personnel-composition-analysis-nav{
    background: #d8dce3;
    border-color:@all-bdcolor-gray;
    .personnel-composition-analysis-title{
      .panel-name{
        color:@c-333
      }
      .place-num-box{
        .place-num-title{
          color:@c-333;
        }
      }
    }
    .personnel-composition-analysis-header{
      background-image: linear-gradient(-180deg, #F3F6F9 0%, #E3E6E9 98%);
      .tab-box {
        .ant-tabs-tab {
          color:@c-333;
        }
        .ant-tabs-tab-active {
          color:@primary-color;
        }
      }
      .personnel-composition-analysis-header-right{
        .personnel-total{
          color: @c-666;
          .personnel-total-num {
            color:@primary-color;
          }
        }
        .refresh_btn{
          color: @primary-color;
          border-color: @primary-color;
          &:hover{
            color: @c-fff;
            border-color: @primary-color;
            background: @primary-color;
          }
        }
      }
    }
  }
  .personnel-composition-analysis-content{

  }
}	