.org-area-resource-container{
  display:flex;
 
  .ant-spin-nested-loading{
    width:100%
  }
  .ant-spin-container{
    width:90%;
    margin:auto
  }

  .area-edit-container{
    height:510px;
    display:flex;
    .btn-group{
      flex:1;
      margin:auto;
      &>div{
        button{
          display:block;
          margin:auto;
          width:52px;
          height:48px;
          margin-bottom: 16px;
        }
      }
    }
    .org-area-table-left{
      width:360px;

    }
    .org-area-table-right{
      width:360px;
    }
    .tb{
      width:360px;
      height:100%;
    }
  }
}