// 布控任务基本信息
.monitee-tasks-box.task-basic-info{
  .taks-name{
    width: 424px;
    font-size: 12px;
    color: #333;
    border-radius: 3px;
  }
  .ant-form-explain{
    padding-top: 10px;
  }
  .form-group-item-content{
    .range-picker-wrapper{
      .date-picker-content{
        .ant-calendar-picker{
          width: 200px !important;
          .anticon{
            color: #8899bb;
          }
        }
      }
      .start-picker-wrapper{
        margin-left: 0px;
      }
      .date-picker-divider{
        margin-left: 7px;
        width: 10px;
        text-align: center;
      }
      .end-picker-wrapper{
        margin-left: 7px;
      }
    }
    .ant-radio-wrapper{
      span{
        font-size: 12px;
        color: #333;
      }
    }
  }
  .task-capture-time-box{
    .form-group-item-label-required{
      line-height: 19px;
    }
  }
  .task-describe-basic{
    font-size: 12px;
    color: #333;
    width: 852px !important;
  }
}