.monitor-container-outer{
  height: 100%;
  .monitor-header{
    height: 48px;
    // background: #F3F6F9; 
    background: linear-gradient(#F3F6F9, #E3E6E9);
    .ant-menu-item{
      margin-left: 15px;
      i{
        color: #8899bb;
      }
    }
    .monitor-title{
      height: 100%;
      width: 300px;
      background: #D8DCE3;
      font-size: 18px;
      color:  #333;
      font-weight: 600;
      border-bottom: 1px solid #B5BBC7;
      padding-left: 16px;
      line-height: 47px;
      float: left;
    }
    .ant-menu{
      height: 100%;
      background: linear-gradient(#F3F6F9, #E3E6E9);
      border-bottom: 1px solid #D8DCE3 !important; 
    }
  }
  .monitor-content{
    width: 100%;
    height: calc(~"100% - 48px");
    display: flex;
    align-items: stretch;
    .monitor-content-aside {
      width: 300px;
      background: #EAEDF1;
    }
    .monitor-content-wrapper {
      flex: 1;
    }
  }
}

// 布控库公共样式
.monitee-lib-wrapper, .monitee-lib-modal{
  overflow: hidden;
  .watermask{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 8px;
    transform: translate(-50%, -50%) rotate(45deg);
    user-select: none;
  }

  .ant-btn{
    padding: 0 21px;
    i{
      font-size: 16px;
      vertical-align: bottom;
      margin-bottom: 2px;
      margin-right: 4px;
    }
    span {
      font-size: 14px;
      margin-left: 0;
    }
  }

  .icon-span.span-btn {
    padding: 0;
    vertical-align: bottom;
    i{
      margin-bottom: 0;
      font-size: 16px;
    }
  }
  
  // 表单样式
  .ant-form-item{
    margin-bottom: 8px;
    text-align: left;
    .ant-form-item-label{
      overflow: visible;
      padding: 0;
      label {
        font-size: 12px;
        // color: #666;
        &::after{
          display: inherit;
        }
      }
      .ant-form-item-required:before {
        position: absolute;
        left: -10px;
        top: 12px;
      }
    }
    .ant-form-item-children{
      input{
        // height: 28px;
        font-size: 12px;
        &::placeholder{
          font-size: 12px;
        }
      }
      textarea{
        font-size: 12px;
        resize: none;
        height: 80px;
        overflow-y: auto;
        &::placeholder{
          font-size: 12px;
        }
      }
    }
    .ant-form-explain{
      text-align: left;
    }
  }
}

// 布控任务弹框样式
.monitor-tasks-model{
	width: 320px !important;
	.ant-modal-body{
		.model-content{
			.title-name{
				text-align: center;
			}
		}
	}
}