.device-edit-layout {
  height: calc(~"100% - 60px - 48px");
  position: relative;
  &.device-detail-layout{
    height: calc(~"100% - 48px");
  }
  .device-contianer {
    overflow: auto;
    height: 100%;
  }
  .device-edit-scroller {
    width: 1200px;
    margin: 0 auto;
    .setting-edit-btns{
      width: 100%;
      height: 60px;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 5;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      // background: #fff;
      border-top: 1px solid ;
      .ant-btn{
        margin:0 4px;
      }
    }
  }
  .edit-title {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    // background: #f0f0f0;
    padding: 0 16px;
    margin: 0;
  }
  .device-edit-content {
    padding: 0 16px;
  }
  .gourp-action {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    // background: #fff;
    padding-top: 25px;
    border-top: 1px solid;
    height: 80px;
    text-align: center;
    z-index: 5;
    button {
      padding: 0 30px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .part-title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid;
    height: 60px;
    line-height: 40px;
    margin: 0;
    padding-top: 20px;
  }
  .other-layout-info {
    height: 560px;
    width: 100%;
    &.video-info-part {
      height: 600px;
    }
    .info-lable {
      font-size: 12px;
      // color: #666;
      height: 50px;
      padding-bottom: 10px;
      align-items: center;
      display: flex;
      .lable-text {
        width: 70px;
      }
      .set-fx {
        width: 228px;
      }
    }
    .map-point-label-layout {
      // height: calc(100% - 50px);
      height: 100%;
      border: 1px solid ;
      border-radius: 3px;
      margin-top: 5px;
    }
    .play-space {
      height: calc(~"100% - 30px - 40px");
      position: relative;
      &:hover{
        .unplay{
          display: none !important;
        }
        .control-video{
          display: block;
        }
      }
      .control-video{
        display: none;
        position: absolute;
        top: 8px;
        z-index: 999;
        right: 12px;
        cursor: pointer;
        .close-video{
          font-size:32px;
        }
      }

      .player-marker-device {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      .space-set-content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &.hide-space-set-content {
          display: none;
        }
        .alarm-zone {
          margin: 0 auto;
        }
      }
    }
    .set-space-btn {
      height: 40px;
      padding-top: 12px;
      text-align: right;
      display: flex;
      align-items: center;
      .left-btn {
        width: 50%;
        text-align: left;
        button {
          margin-right: 10px;
        }
      }
      .right-btn {
        width: 50%;
        text-align: right;
        button {
          margin-left: 10px;
        }
      }
      button {
        font-size: 12px;
        height: 28px;
        span {
          margin-left: 2px;
        }
        i {
          font-size: 16px;
          position: relative;
          top: 2px;
          // color: #8899bb;
        }
      }
    }
  }
  .device-info-layout {
    .content-layout {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      padding: 10px 16px 0 16px;
      .content-item {
        width: 25%;
        padding: 10px 0;
        line-height: 20px;
        display:flex;
        & > div {
          color: #333;
          margin-right:4px;
          // &:first-child {
          //   // color: #666666;
          // }
        }
      }
    }
  }

  .edit-info-layout {
    .ant-form {
      width: 100%;
      padding: 0 16px;
    }
    .ant-form-item {
      width: calc(~"33.3333% - 16px");
      padding-bottom: 16px;
      display:flex;
    }
    .ant-form-item-label {
      text-align: right;
      width:40%;
    }
    .ant-form-item-control-wrapper {
      display: block;
      padding-left: 0;
      width: 60%;
      text-align: left;
    }
    .base-info-content {
      padding-top: 20px;
      display:flex;
      flex-wrap: wrap;
      .ant-form-item{
        & > div {
          // color: #333;
          margin-right:4px;
          // &:first-child {
          //   // color: #666666;
          // }
        }
      }
    }
    .ant-input-number {
      width: 100%;
    }
  }
}
