.vehicle-color-select{
  .ant-radio-wrapper{
    .icon-other-color{
      font-size: 16px;
      opacity: 0.8;
      margin-right: 4px;
    }
    .color-all{
      background: url(./img/Color-all.png) no-repeat center center;
    }
    span:nth-child(2){
      span{
        vertical-align: -2px;
        margin: 0 4px 0 2px;
        border-radius: 3px;
      }
    }
  }
}