.community-chart{
    width: 300px;
    height: 148px;
    background: rgba(255,255,255,0.80);
    box-shadow: 0 0 300px rgba(255,255,255,0.8) inset;
    margin-left: 8px;
    border-radius: 5px;
    .chart-title{
        height: 40px;
        font-size: 14px;
        color: #333333;
        padding: 8px 16px;
    }
    .chart-mes-show{
        display: flex;
        height: calc(~'100% - 40px');
        position: relative;
        padding: 0 16px;
        .chart-show{
            height: 96px;
            width: 96px;
        }
    }
}