@import '../../../../../../../assets/style/vars.less';

.organization-place-tree{
  width: 220px;
  border: 1px solid @all-bdcolor;
  border-right: 0;
  padding: 0;
  background: @all-bgColor;
  .th{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid @all-bdcolor;
    background: @all-bgColor;
    font-weight: bold;
    padding: 0 10px;
  }
  .place-tree-container{
    height: calc(~'100% - 32px');
  }
}