@import '../vars.less';
.alarm-echarts {
  color: #333333;
  background: #d8dce3;
  border-bottom-color: #c9c5c5;
  .alarm_all_total_num {
    .circle-word {
      .circle-nohandle-count {
        div:nth-child(2) {
          color: @all-active-orange;
        }
      }
    }
  }
}
