.setting-breadcrumb-container{
  .ant-breadcrumb {
    line-height: 48px;
    & > span {
      // font-size: 12px;
      color: #333;
      &:last-child {
        .ant-breadcrumb-link {
          color: #ff8800;
        }
      }
    }
  }
}