@import '../vars.less';

.pagination-layout {
  .ant-pagination-item {
    &:hover {
      border-color: @primary-color;
      color: @primary-color;
      a {
        color: @primary-color;
      }
    }
  }
  .ant-pagination-item-active,
  .ant-pagination-item-active:hover,
  .ant-pagination-item-active:focus {
    background: @all-active-orange;
    border-color: @primary-color;
    a {
      color: @c-fff;
    }
  }

  .ant-pagination-prev:not(.ant-pagination-disabled),
  .ant-pagination-next:not(.ant-pagination-disabled) {
    &:hover {
      .ant-pagination-item-link {
        border-color: @primary-color;
        color: @primary-color;
        a {
          color: @primary-color;
        }
      }
    }
  }
  .ant-pagination-options-quick-jumper {
    input {
      &:hover,
      &:focus {
        border-color: @primary-color;
        box-shadow: none;
      }
    }
  }
  .ant-select-selection {
    &:hover {
      border-color: @primary-color;
    }
  }
}
