.capture_time{
  .ant-radio-group{
    .ant-radio-wrapper{
      margin-right: 0px;
    }
  }
  .time_picker{
    width: 200px;
    &:hover{
      .ant-time-picker-input{
        border-color: #ff8800;
      }
    }
  }
  .ant-time-picker{
    float: left;
    .ant-time-picker-icon{
      .anticon{
        color: #8899bb;
      }
    }
  }
  .basic-line{
    width: 10px;
    margin: 0 7px;
    text-align: center;
    float: left;
    line-height: 32px;
  }
}