.baselib-search-wrapper{
  .search-btn-group{
    padding-top: 30px;
    height: 70px !important;
  }
  .box-item{
    position: relative;
    .item-check{
      position: absolute;
      right: 20px;
      top: 14px;
      z-index: 1;
      width: 16px;
      height: 16px;
    }
  }
}