@import '../../vars.less';

.alarm-site-screening {
  .header_filter_select_type_downwrap{
    .anticon{
      color: @icon-font-color;
    }
    .ant-select-dropdown-menu-item:hover{
      color: @primary-color;
      background: #fff;
      .anticon{
        color: @primary-color;
      }
    }
  }
}