@import '../../vars.less';
.alarm-time-type {
  .alarm-time-type-downwrap{
    .anticon{
      color: @icon-font-color;
    }
    .ant-select-dropdown-menu-item:hover{
      color: @primary-color;
      background: #fff;
      .anticon{
        color: @primary-color;
      }
    }
  }
  .alarm-time-type-select{
    .ant-select-selection:hover,.ant-select-selection:active, .ant-select-selection:focus{
      border-color: @primary-color;
      box-shadow: none;
    }
    margin-right: 8px;
  }
}