@import '../../vars.less';

.alarm-state-type {
  .header_filter_select_type_downwrap{
    .anticon{
      color: @icon-font-color;
    }
    .ant-select-dropdown-menu-item:hover{
      color: @primary-color;
      background: #fff;
      .anticon{
        color: @primary-color;
      }
    }
  }
  .header_filter_type_select{
    .ant-select-selection:hover,.ant-select-selection:active, .ant-select-selection:focus{
      border-color: @primary-color;
    }
  }
}
