@import '../../vars.less';
// 滑动条样式
.slider-select-tlzj{
  .slider-label{
    color: #666666;
  }
  .min, .max{
    color: #333333;
  }
  .ant-slider{
    .ant-slider-track{
      background: #B5BBC7;
    }
    &:hover{
      .ant-slider-track{
        background-color:  #B5BBC7;
      }
    }
    .ant-slider-step{
      background:  @primary-color;
      border: 1px solid transparent;
    }
  }
}