@import '../../vars.less';
.device-file-view {
  background:rgb(243,246,249);
  .place-label-edit{
    color: @icon-font-color;
  }
  .device-file-nav{
    background: #d8dce3;
    border-color:#B5BBC7;
    .device-file-title{
      .panel-name{
        color:@c-333
      }
    }
    .device-file-header{
      background-image: linear-gradient(-180deg, #F3F6F9 0%, #E3E6E9 98%);
    }
  }
  .device-file-content {
    .device-info-content-title{
      color:@c-666;
    }
    .device-info-content-con{
      color:@c-333;
    }
  }
  .place-label-view .place-label-item{
    color:@primary-color;
    border-color: @primary-color;
  }
}	