.check-group-wrapper{
  .ant-checkbox-group{
    display: block;
    .ant-checkbox-wrapper{
      width: 33%;
      float: left;
      margin: 0 0 8px;
      span:nth-child(2){
        font-size: 12px;
        padding-left: 4px;
        padding-right: 0px;
        color: #333;
        font-weight: normal;
      }
    }
  }
  .search-title{
    .ant-checkbox-wrapper{
      float: right;
      width: 100px;
      font-size: 12px;
      .ant-checkbox+span{
        padding-left: 4px;
      }
    }
  }  
}