// 布控库选择样式
.monitee-tasks-box.libs-list{
  .libs-sel-box{
    .libs-select-new{
      width: 852px;
      >div{
        width: 422px;
        &.selected-libs-right-container{
          margin-left: 8px;
        }
      }
    }
  }
  .ant-form-item{
    margin: 0px;
    .ant-form-explain{
      display: none;
    }
  }
}