
@import "../../vars.less";

.device-edit-layout {
  .device-edit-scroller {
    .setting-edit-btns{
      background: @c-fff;
      border-top-color:@all-bdcolor;
    }
  }
  .edit-title {
    background: @all-bdcolor;
  }
  .gourp-action {
    background: @c-fff;
    border-top-color: @c-ddd;
  }
  .part-title {
    border-bottom-color: @c-eee;
  }
  .other-layout-info {
    .info-lable {
      color: #666;
    }
    .map-point-label-layout {
      border-color: @all-bdcolor;
    }
    .play-space {
      .control-video{
        color:@c-fff;
      }
    }
    .set-space-btn {
      button {
        i {
          color: @icon-font-color;
        }
      }
    }
  }
  .device-info-layout {
    .content-layout {
      .content-item {
        & > div {
          color: @c-333;
          &:first-child {
            color: @c-666;
          }
        }
      }
    }
  }
  .edit-info-layout {
    .base-info-content {
      .ant-form-item{
        & > div {
          color: @c-333;
          &:first-child {
            color: @c-666;
          }
        }
      }
    }
  }
}