.cc-search {
  color: #999999;
  input.ant-input {
    border-radius: 3px;
    border: 1px solid #d8dce3;
    padding-left: 30px !important;
    font-weight: normal;
    &:not(:disabled):hover {
      border: 1px solid #eee;
    }
  }
  .ant-input-prefix,
  .ant-input-suffix {
    > i {
      color: #8d96a9;
      font-size: 16px;
    }
  }
  &.c-search-12 {
    input {
      height: 28px;
      font-size: 12px;
      padding: 7px 11px;
    }
  }
  &.c-search-14 {
    input {
      height: 32px;
      font-size: 14px;
      padding: 8px 13px;
    }
  }
}
