@import '../../vars.less';
.logstatistical-view {
  .time-btns .active {
    color: @primary-color;
    border-color: @primary-color;
  }
  .type-search-box{
    li{
      color: @c-444;
      &.active {
        background-color: @primary-color;
        border-color: @primary-color;
        color: @c-fff;
      }
    }
  } 
}