@import '../../vars.less';

.horizontal-scrolling-list{
  .list-view-left{
    border-color: #ccc;
    background: #fff;
    &:hover{
      border-color: @all-active-orange;
      .anticon{
        color: @all-active-orange;
      }
    }
    .anticon{
      color: @icon-font-color;
    }
  }
}