.village-wrapper {
  height: calc(~"100% - 50px - 16px");
  .setting-table{
    height: calc(~'100% - 80px');
    .user-tr{
      max-width: 385px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }
  }
  .ant-pagination {
    height:80px;
    padding-top: 20px;
  }
}