/**
 * 蓝色主题颜色 前缀：A
 */

/**
 * 公共颜色
 */
$B-c-fff: #fff;
$B-c-main: #404040;
 /**
  * 字体颜色
  */
$B-c-dark: #252525;
$B-c-normal: #595959;
$B-c-light: #989898;
$B-c-main: #00A1F2;
$B-c-hover: #38BCFE;
$B-c-disabled: #fff;
 
 /**
  * 安全级别颜色
  */
$B-c-danger:#ea565c;
$B-c-warning:#ffba00;
$B-c-success:#8dc63f;
$B-c-primary:#40bbea;
 
 /**
  * 背景颜色
  */
$B-bg-danger:#ea565c;
$B-bg-warning:#ffba00;
$B-bg-success:#8dc63f;
$B-bg-primary:#40bbea;
 
 /**
  * 边框颜色
  */
$B-bd-danger:#ea565c;
$B-bd-warning:#ffba00;
$B-bd-success:#8dc63f;
$B-bd-primary:#40bbea;
 