@import '../../vars.less';

.foreign-card {
  border-color: #fff;
  .anticon {
    color: @icon-font-color;
  }
  &:hover {
    border-color: @all-active-orange;
  }	
  .foreign-card-image {
    border-color: #B5BBC7;
  }	
  .foreign-peo-mes {
    .foreign-Handle {
      .handle {
        border-color: #ccc;
      }
      .handle-yes {
        border-color: #ccc;
        &:hover {
          color: #fff;
          background-image: linear-gradient(-180deg, #ffbb22 0%, #ffaa00 100%);
          .anticon {
            color: #fff;
          }
        }
      }
      .handle-no {
        border-color: #ccc;
        &:hover {
          color: #fff;
          background-image: linear-gradient(-180deg, #25dc9b 0%, #0fc484 95%);
          .anticon {
            color: #fff;
          }
        }
      }
    }
    .peo-mes-span {
      color: #333;
      .peo-circle-block {
        color: @primary-color;
      }
      .peo-mes-value{
        color: @all-active-orange;
      }
    }
  }
}