@import '../../vars.less';

.key-ponit-rolling-card{
  border-color: transparent;
  background: #fff;
  .ant-checkbox-checked{
    .ant-checkbox-inner{
    background-color: #FFAA00;
    border-color: #FFAA00;
    }
  }
  .card-content{
    .content-p{
      color: #333333; 
      .content-span {
        color: #FF8800;
      }
    }
    .anticon{
      color: #8899BB;
    }
    .content-cir{
      background: #FF5F57;
      border-color: #FF4343;
    }
    .iconYellow {
      color: #FFAA00;
    }
    .iconRed {
      color: #25DC9B;
    }
  }
  &.active-card{
    border-color: #FFAA00;
  }
}
