.monitee-upload-people-wrapper {
  .upload-wrapper{
    text-align: center;
    margin-top: 10px;
  }
  .monitee-people-upload-tip-wrapper{
    margin-top: 24px;
  }
  .icon-span {
    .anticon {
      font-size: 14px;
    }
  }
}
.monitee-people-upload-tip-wrapper{
  width: 210px;
  margin: 0 auto;
  text-align: left;
  font-size: 12px;
  color: #666666;
}
