.framecard-view{
  margin-top: 15px;
  .framecard-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .framecard-title{
      font-family: PingFang-SC-Bold;
      font-size: 14px;
      font-weight:700;
    }
  }
  .framecard-content{
    margin-top: 8px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,.15);
    background: #fff;
    border-radius: 4px;
  }
}