.s-link-tools {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .link-btn {
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 32px;
    margin: 0 4px;
  }
  .link-btn-small {
    width: 24px;
    height: 24px;
    line-height: 26px;
  }
  .link-btn-large {
    width: 32px;
    height: 32px;
    line-height: 34px;
    margin: 0 12px;
  }
}