.select-screen {
  width: 100px;
  user-select: none;
  font-size: 12px;
  padding: 5px;
  .screen-item {
    padding: 4px 10px;
    cursor: pointer;
    .anticon {
      font-size: 16px;
      padding-right: 5px;
      position: relative;
      top: 2px;
    }
  }
}
