.community_long_lived_alarm_box {
  display: flex;
  height: 100%;
  .alarm-scroll-height {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 15;
    border-radius: 50%;
    background-image: url("../../assets/img/monitees/realalarm/toTop_Main.svg");
    bottom: 30px;
    right: 30px;
    cursor: pointer;
  }
  .community_left_total {
    height: 100%;
    width: 300px;
    transition: all 0.5s;
    background: #eaedf1;
    position: relative;
    .community-title-real {
      font-family: PingFang-SC-Bold;
      height: 48px;
      font-size: 18px;
      color: #333333;
      background: #d8dce3;
      line-height: 48px;
      padding: 0 16px 0 16px;
      border-bottom: 1px solid #c9c5c5;
      display: flex;
      justify-content: space-between;
      .community-checkbox {
        font-size: 12px;
        color: #333333;
      }
    }
    .community-input {
      margin-top: 16px;
      margin-left: 16px;
      width: 100%;
      .ant-input-affix-wrapper {
        width: 268px;
        height: 28px;
      }
    }
    .community-exp {
      height: calc(~"100% - 108px");
      width: 100%;
      margin-top: 12px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    ::-webkit-scrollbar {
      width: 4px;
    }
  }
  .community_right_container {
    width: calc(~"100% - 300px");
    height: 100%;
    position: relative;
    .little-pagtion {
      top: 8px;
      right: 15px;
      z-index: 1;
    }
    .alarm-container-header-search {
      top: 8px;
      z-index: 10;
      width: auto;
      right: 16px;
      .header-text {
        font-size: 12px;
      }
    }
    .ant-tabs {
      height: 100%;
      .ant-tabs-content {
        height: calc(~"100% - 48px");
        background: #f3f6f9;
        .ant-tabs-tabpane-active {
          overflow: hidden;
        }
        .ant-tabs-tabpane {
          height: 100%;
          .float-communty-tab-scroll {
            padding-top: 16px;
            height: calc(~"100% - 42px");
            overflow-y: auto;
            position: relative;
            .ant-spin-nested-loading {
              height: 100%;
              .ant-spin-container {
                height: 100%;
                .back-top-register {
                  display: flex;
                  flex-wrap: wrap;
                  overflow-y: auto;
                  justify-content: center;
                  align-content: space-between;
                  height: 99%;
                  //min-height: 100%;
                }
              }
            }
          }
        }
      }
      .ant-tabs-bar {
        height: 48px;
        background: #f3f6f9;
        margin: 0;
        .ant-tabs-nav-container {
          height: 48px;
          border-bottom: 1px solid #e8e8e8;
          .ant-tabs-nav-wrap {
            .ant-tabs-nav-scroll {
              background-image: linear-gradient(
                -180deg,
                #f3f6f9 0%,
                #e3e6e9 98%
              );
              .ant-tabs-nav {
                margin-left: 15px;
                .ant-tabs-ink-bar {
                  height: 2px;
                  visibility: inherit;
                }
                .ant-tabs-tab {
                  background-image: linear-gradient(
                    -180deg,
                    #f3f6f9 0%,
                    #e3e6e9 98%
                  );
                }
                div {
                  .ant-tabs-tab {
                    border: 0;
                    text-align: center;
                    padding: 5px 16px;
                    margin-right: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .community_list_item {
      width: 100%;
      height: 48px;
      background: #f3f6f9;
      display: flex;
      .alarm-container-header-search {
        top: 58px;
        .header-text {
          font-size: 14px;
        }
      }
    }
    .community-top-bottom {
      width: 98%;
      display: flex;
      justify-content: space-between;
      margin-top: 23px;
    }
  }
}
.float-community {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 0px 20px;
  // height: 58px;
  .float-input-search {
    width: 300px;
  }
}
.float-communty-tab-scroll {
  .community-footer-page {
    height: 100px;
    padding-top: 45px;
    width: 100%;
  }
}
.checkbox-span-pop-community {
    top: 82px !important;
    .ant-popover-content {
      .ant-popover-arrow {
        background-color: #fff;
      }
    }
  .ant-popover-inner-content {
    padding: 2px 4px;
    color: #666;
    font-size: 12px;
  }
}
.ant-select-selection {
  border: 1px solid #b5bbc7;
}
.ant-input {
  border: 1px solid #b5bbc7;
}
.focus-modal-type {
  .ant-modal-content {
    width: 320px;
  }
}
/* .row-center{
  padding: 0 40px;
  .ant-spin-nested-loading{
    margin-right: 16px;
  }
}
@media screen and (max-width:1366px) {
  .row-center{
    padding: 0 140px !important;
  }
}
@media screen and (max-width:1600px) {
  .row-center{
    padding: 0 70px;
  }
} */
