.logstatistical-view {
  height:  calc(~"100% - 48px");
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .logstatistical-title {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1 1;
    font-size: 16px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
    .logstatistical-search-view {
      margin-bottom: 20px;
      .search-part {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
        .search-title {
          font-weight: normal;
          font-size: 14px;
          width: 50px;
        }
        .search-box.time-search-box {
          align-items: center;
          display: flex;
          flex: 1;
          .time-btns {
            .ant-btn {
              margin: 0 3px;
            }
          }
        }
      }
      .ant-input-search {
        width: 300px;
      }
      .type-view {
        .search-box.type-search-box {
          ul {
            display: flex;
            li {
              cursor: pointer;
              line-height: 35px;
              box-sizing: border-box;
              padding: 0 7px;
              font-size: 14px;
              height: 35px;
              // color: #444444;
              float: left;
              margin-right: 20px;
              font-weight: normal;
              &.active {
                // background-color: #ff8800;
                // border-color: #ff8800;
                // color: #fff;
                border-radius: 3px;
              }
            }
          }
        }
      }
      .btn-box {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          margin: 0 30px;
        }
      }
    }
  } 
  .table-setting-title{
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px;
    border-bottom: 1px solid #b5bbc7;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #333;
  }
  .statistical-list {
    width: 100%;
    height: calc( ~"100% - 200px") !important;
    flex: 3;
    margin-top: 20px;
    .statistical-table-view {
      height: 100%;
      .setting-table {
        height: 100%;
      }
      .ant-pagination {
        height: 80px;
        padding-top: 20px;
      }
    }
  }
}  