
.info-filter {
	height: 60px;
	display: flex;
	padding: 16px 0;
	justify-content: space-between;
	.ant-btn {
    height: 28px;
    &>span {
      margin-left: 4px;
    }
	}
	.anticon {
		font-size: 18px;
	}
	.ant-select-selection--single {
    height: 28px;
    .ant-select-selection__rendered{
      line-height: 28px;
      .bold{
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: relative;
        bottom: -1px;
        margin-right: 4px;
      }
      .anticon {
        position: relative;
        font-size: 18px;
        bottom: -2px;
        margin-right: 4px;
        // color: $icon-font-color;
      }
      .green {
        background-color: #25dc9b;
      }
      .blue{
        background-color: #44aaff;
      }
      .yellow{
        background-color: #ffaa00;
      }
      .red {
        background-color: #ff5f57;
      }
      .yard {
        background-color: #a7aebc;
      }
    }
	}
	.filter-left {
    display: flex;
    .anticon {
      position: relative;
      font-size: 18px;
      bottom: -2px;
      color: #fff;
    }
		.ant-btn {
      margin-right: 8px;
      background-image: linear-gradient(-180deg, #ffbb22 0%, #ffaa00 100%);
      color: #fff;
      font-size: 14px;
      &:hover, &:active, &:focus {
        color: #fff;
      }
    }
    .tm-download {
      width: 130px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      background-image: linear-gradient(-180deg, #ffbb22 0%, #ffaa00 100%);
      color: #fff;
      font-size: 14px;
      border-radius: 3px;
      line-height: 28px;
    }
  }
  .filter-right{
    display: flex;
    align-items: center;
    .ant-btn {
      font-size: 14px;
      margin-right: 8px;

      &:hover,&:active, &:focus {
        .anticon{
          // color: $c-main-orange;
        }
      }

      .anticon {
        position: relative;
        font-size: 18px;
        bottom: -2px;
        // color: $icon-font-color;
        transition: all .5s;
      }
    }
    .ant-btn[disabled] {
      .anticon{
        // color: $icon-font-color;
        opacity: .8;
      }
      &:hover {
        .anticon{
          // color: $icon-font-color;
        }
      }
    }
  }
}
.info-filter-drop{
  .bold{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 4px;
  }
  .green {
    background-color: #25dc9b;
  }
  .blue{
    background-color: #44aaff;
  }
  .yellow{
    background-color: #ffaa00;
  }      
  .red {
    background-color: #ff5f57;
  }
  .yard {
    background-color: #a7aebc;
  }
}
