.alarm-num-echart {
  height: 100%;
  width: 100%;
  .circle-word {
    height: 70%;
    width: 100%;
    position: absolute;
    top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    .circle-word-count {
      div {
        text-align: center;
      }
      div:nth-child(2) {
        font-size: 24px;
        font-weight: 'bold';
        margin-top: 0px;
      }
    }
    .circle-nohandle-count {
      margin-top: 8px;
      div {
        text-align: center;
      }
      div:nth-child(2) {
        font-size: 24px;
        font-weight: 'bold';
      }
    }
  }
}