.refresh-button {
  font-size: 12px;
  transition: all .5s;
  &.refresh-default {
    height: 28px;
    color: #ffaa00;
    border: 1px solid #ffaa00;
  }
  &.refresh-lg {
    height: 32px;
  }
  &.ant-btn-loading {
    padding-left: 15px!important;
    .anticon-loading {
      margin-left: 0!important;
    }
  }
  &:hover {
    background-color: #ffaa00!important;
    color: #fff!important;
    border-color: transparent!important;
  }
  .anticon {
    font-size: 14px;
    position: relative;
    top: 1px;
  }
}