.personnel-simila-modal {
  height: 785px;
  .modal-content {
    background: #f3f6f9;
    .simila-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      height: 100%;
      overflow-y: auto;
      padding: 8px 0 16px;
      .similar-card {
        margin: 8px;
      }
      .null-card {
        width: 144px;
        height: 0;
        margin: 0 8px; 
      }
    }
  }
}
