.monitee-tasks-box.tasks-scope{
  .libs-select-list{
    padding-left: 24px;
    height: 540px;
  }
  .libs-select-map{
    width: 976px;
    height: 540px;
    padding-left: 24px;
    >.map-select-layout{
      border: 1px solid #D8DCE3;
    }
  }
  // 未验证通过时提示样式
  .form-group-item-content{
    .monitees-error{
      padding-left: 24px !important;
      margin-top: 10px;
    }
  }
  .ant-form-item{
    margin: 0px;
    .ant-form-explain{
      display: none;
    }
  }
}