.task-button-group {
  text-align: center;
  margin-bottom: 15px;
  button {
    width: 80px;
    height: 28px;
    padding: 0px;
  }
  button:hover {
    color: #ff8800;
    border: 1px solid;
  }
  button.active {
    background: #f80;
    color: #ffffff;
    border-color: transparent;
  }
  button:nth-child(2) {
    margin: 0 4px;
  }
}