
.after-search {
  input.ant-input {
    border-radius: 3px;
    padding-left: 30px !important;
     &:hover {
      box-shadow: none;
     }
  }
  .ant-input-suffix {
    cursor: pointer;
    .anticon{
      transition: .5s;
      color: rgba(0,0,0,.5);
    }
  }
  &.after-search-12 {
    input {
      height: 28px;
      font-size: 12px;
      padding: 7px 11px;
    }
  }
  &.after-search-14 {
    input {
      height: 28px;
      font-size: 12px;
      padding: 8px 13px;
    }
  }
}