@import "../../vars.less";
.changeUserView{
  .syste_logo_res_item{
    background: @c-fff;
    border-color: @all-bdcolor;
    .item{
      &:hover{
        background: @all-bgColor;
      }
    }
  }
  .userFormAction {
    background: @c-fff;
    border-top-color: @c-ddd;
    .ant-btn-primary{
      &:hover,&:active, &:focus{
        color: @c-fff;
      }
    }
  }
  .setting-edit-btns{
    background: @c-fff;
    border-top-color: @all-bdcolor;
  }
}