.similar-card {
  position: relative;
  width: 144px;
  height: 202px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  .ant-checkbox-wrapper {
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
  }
  .similar-image {
    width: 100%;
    height: 160px;
    margin-bottom: 8px;
  }
  .similar-process {
    display: flex;
    align-items: center;
    .anticon {
      position: relative;
      top: 1px;
      color: #8899bb;
      margin-right: 4px;
    }
    .process {
      display: flex;
      flex: 1;
      .info {
        font-size: 12px;
        width: 42px;
        line-height: 22px;
      }
      .ant-progress {
        flex: 1;

      }
      .number {
        width: 27px;
        color: #ffaa00;
        font-size: 14px;
      }
    }
  }
}
