.device-point-modal-wrapper{
  .points-new-exist-place{
    background: #ffffff;
    box-shadow: 1px 1px 11px #666;
    padding:10px;
    .ant-radio-group{
      &>div{
        display:flex;
        flex-direction: column;
        font-size: 12px;
      }
      .ant-radio-wrapper{
        font-size: 12px;
        padding: 4px;
      }
    }
  }
}