.soldier-container {
  height:100%;
  width: 100%;
  .title-l{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 300px;
    height: 47px;
    line-height: 47px;
    // background: #D8DCE3;
    // border-bottom: #D8DCE3;
    font-size: 18px;
    font-weight: 700;
    // color: #333;
    padding-left: 16px;
  }
  .soldier-content-wrapper {
    // width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    .form-btn-group{
      display:flex;
      .icon-span{
        position: relative;
        top:5px;
        padding-right:3px;
      }
    }
  }
}

