.setting-table{
  .ant-table-body{
    td{
      padding: 5px 16px;
      // line-height: 36px;
      line-height: 24px;
      font-size: 14px;
    }
  }
  .table-tools{
    .icon-span{
      display: inline-block;
      margin-right: 10px;
    }
  }
}