@import '../vars.less';

.imm-view-box{
  background: #FFF;
  .imm-content{
    border-color: #ccc;
    .imm-switch{
      background-image: linear-gradient(-180deg, #FFFFFF 0%, #F3F6F9 98%);
      .anticon{
        color: #8899BB;
      }
      .switch-box-active{
        background: @all-active-orange;
        color: #FFFFFF;
       .anticon{
         color: #FFF;
       }
      }
      .switch-box-dis{
        background: #aaa;
        color: #FFFFFF;
        .anticon{
          color: #FFF;
        }
      }
    }
  }
}