@import '../vars.less';
.place-label-modal{
  .modal-content{
    background: #f3f6f9;
  }
  .place-label-view{
    .c-checkbox{
      .label{
        color: @c-666;
      }
      .label-box{
        .label-item{
          color: @c-333;
          background: @c-fff;
					border-color:@all-bdcolor-gray;
					&.active{
						color:@primary-color;
						border-color:@primary-color;
					}
        }
      }
    }
  }
}