// @import 'src/assets/css/base';

.home-class {
	flex: 1;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	.home-middle {
		flex: 1;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		.home-middle-left {
			width: 300px;
			height: 745px;
			display: inline-block;
			flex-shrink: 0;
		}
		.home-middle-bottom {
			width: 900px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-shrink: 0;
		}
		.home-middle-right {
			width: 300px;
			height: 745px;
			display: inline-block;
			flex-shrink: 0;
		}
	}
}
.home-main {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	.ant-popover-inner-content {
		padding: 0;
	}
	.type-popup-layout {
		user-select: none;
		width: 208px;
		font-size: 12px;
		padding: 10px;
		box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.2);
		.type-part {
			margin: 10px 0;
			&:first-child {
				margin-top: 0;
				margin-bottom: 20px;
			}
			.type-name {
				padding: 5px 0;
				border-bottom: 1px solid #eaedf1;
			}
			.type-content {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-top: 10px;
				.type-item {
					flex: 1;
					text-align: center;
					cursor: pointer;
					.lable-text {
						padding-top: 4px;
						display: block;
						text-align: center;
					}
					.icon {
						display: inline-block;
						width: 26px;
						height: 26px;
						line-height: 26px;
						text-align: center;
						border-radius: 50%;
						border-width: 1px;
						border-style: solid;
						overflow: hidden;
					}
				}

				.active {
					// color: $c-main-orange;
					.icon {
						// color: $c-main-orange;
						// background: $c-main-orange;
					}
					.anticon {
						color: #fff;
					}
				}
			}
		}
	}
	.header {
		position: absolute;
		animation: totop 800ms ease-in;
		top: 0px;
		left: 50%;
		width: 694px;
		height: 92px;
		margin-left: -347px;
		z-index: 10;
		background: url('../../assets/img/JurisdictionOver/AllArea_Title_BG.png') no-repeat;
		background-position: center -18px;
		p {
			font-size: 28px;
			font-weight: bold;
			text-align: center;
			line-height: 50px;
			position: relative;
		}
	}
	.device-total-view {
		position: absolute;
		animation: totop2 900ms ease-in;
		top: 45px;
		// width: 200px;
		left: 50%;
		// margin-left: -100px;
		text-align: center;
		z-index: 5;
		overflow: hidden;
		text-align: center;
		z-index: 11;
		transform: translate(-50% , 0);
		p {
			line-height: 24px;
			width: 100px;
			margin: 0 auto;
			font-size: 12px;
			// color: $c-main-orange;
			text-align: center;
		}
		.count {
			user-select: none;
			margin-top: 10px;
			span {
				display: inline-block;
				width: 28px;
				height: 43px;
				// background-image: linear-gradient(-180deg, #ffaa00 0%, #ff8800 50%, #ffaa00 100%);
				border-radius: 2px;
				font-size: 28px;
				line-height: 43px;
				margin: 0 5px;
				color: #fff;
				position: relative;
				&::before{
					content: ' ';
					display: block;
					height: 1px;
					width: 100%;
					background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.1)));
					position: absolute;
					left: 0;
					top: 21px;
				}
			}
			// &::before {
			// 	width: 94%;
			// 	height: 1px;
			// 	content: '';
			// 	position: absolute;
			// 	left: 4px;
			// 	top: 69%;
			// 	z-index: 99;
			// 	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), color-stop(20%, rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0.1)));
			// }
		}
	}
	.home-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
	}
}

.device-numb {
	display: inline-block;
	height: 100px;
	width: auto;
	padding-right: 15px;
	.top {
		height: 48px;
		line-height: 48px;
		width: 100%;
		line-height: 48px;
		text-align: center;
		.title {
			vertical-align: middle;
			font-size: 14px;
			// color: $c-fff;
			display: inline-block;
			font-weight: 100;
		}
		.numb {
			vertical-align: middle;
			color: #ff2d65;
			font-weight: 700;
			font-family: DINEngschriftStd;
			font-size: 24px;
			margin-left: 8px;
		}
	}
	.bottom {
		.item-one {
			width: auto;
			height: 36px;
			margin-left: 15px;
			display: inline-block;
			text-align: center;
			overflow: hidden;
			.ball-img {
				width: 36px;
				height: 36px;
				float: left;
				margin: 0 auto;
				display: block;
				margin-right: 5px;
			}
			.ball-con {
				float: left;
				.ball {
					display: block;
					font-size: 12px;
					// color: $c-fff;
					opacity: 0.7;
					text-align: center;
				}
				.ballNumb {
					font-family: DINEngschriftStd;
					font-size: 17px;
					line-height: 17px;
					// color: $c-fff;
					text-align: center;
				}
			}
		}
		.item-two {
			display: inline-block;
		}
		.item-three {
			display: inline-block;
		}
		.item-foure {
			display: inline-block;
		}
	}
}
@keyframes totop{
	from{
		transform: translateY(-1000px);
	}
	to{
		transform: translateY(0);
	}
}
@keyframes totop2{
	from{
		transform: translate(-50%,-1000px);
	}
	to{
		transform: translate(-50%,0);
	}
}
.home-top{
	height: 100px;
	width: 1250px;
	padding: 0 7px;
	position: absolute;
	animation: totop 800ms ease-in;
	top: 20px;
	left: calc(50% - 625px);
	display: inline-block;
	z-index: 4;
	overflow: hidden;
	background-image: linear-gradient(-180deg, rgba(55, 134, 170, 0.20) 0%, rgba(79, 73, 154, 0.30) 98%);
	border-radius: 5px;
	& > div {
		float: left;
	}
	.ang {
		width: 12px;
		height: 12px;
		display: block;
		position: absolute;
		border-color: rgba(255, 255, 255, 0.30) !important;
	}
	.left-top {
		border-top: 1px solid;
		border-left: 1px solid;
		border-radius: 5px 0 0 0;
		top: 0;
		left: 0;
	}
	.left-bottom {
		border-left: 1px solid;
		border-bottom: 1px solid;
		border-radius: 0 0 0 5px;
		left: 0;
		bottom: 0;
	}
	.right-top {
		border-top: 1px solid;
		border-right: 1px solid;
		border-radius: 0 5px 0 0;
		top: 0;
		right: 0;
	}
	.right-bottom {
		border-bottom: 1px solid;
		border-right: 1px solid;
		border-radius: 0 0 5px 0;
		bottom: 0;
		right: 0;
	}
	.right-border {
		background-image: linear-gradient(
			-179deg,
			rgba(0, 0, 0, 0.00) 0%,
			rgba(0, 0, 0, 0.40) 52%,
			rgba(0, 0, 0, 0.00) 100%
		);
		height: 100px;
		width: 1px;
	}
	.left-border {
		background-image: linear-gradient(
			-179deg,
			rgba(255, 255, 255, 0.00) 0%,
			rgba(255, 255, 255, 0.20) 52%,
			rgba(255, 255, 255, 0.00) 100%
		);
		height: 100px;
		width: 1px;
	}
}
.camera-numb,
.no-drop {
	width: 100%;
	height: 260px;
	min-height: 230px;
	border-radius: 6px;
	box-shadow: 1px 1px 30px rgba(0, 0, 0, .2);
	// background: rgba(255, 255, 255, .9);
	background: #f3f6f9;
	margin-bottom: 15px !important;
	.chart {
		height: calc(100% - 32px);
	}
	.title {
		padding: 5px 15px;
		background: #fff;
		border-radius: 6px 6px 0 0;
		border-bottom: 1px solid #eee;
	}
	&:nth-last-child(1) {
		flex: 1 !important;
	}
	.camera-numb-wrapper {
		height: 100%;
		.camera-numb {
			height: 100%;
		}
	}
}
.home-left {
	height: calc(100% - 50px);
	width: 300px;
	padding: 15px 0 0 15px;
	position: absolute;
	transform-origin: bottom;
	left: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	z-index: 14;
	animation: toleft 800ms ease-in;
}
@keyframes toleft{
	from{
		transform: translateX(-2000px);
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}
.home-right {
	height: calc(100% - 50px);
	width: 300px;
	padding: 15px 15px 0 0;
	position: absolute;
	transform-origin: bottom;
	right: 0;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	z-index: 14;
	animation: toright 800ms ease-in;
}
@keyframes toright{
	from{
		transform: translateX(2000px);
	}
	to{
		transform: translateX(0);
	}
}
@keyframes tobottom{
	from{
		transform: translateY(2000px);
	}
	to{
		transform: translateY(0);
	}
}
.home-bottom {
	height: 230px;
	width: calc(100% - 600px);
	padding: 0 30px 15px 30px;
	position: absolute;
	transform-origin: bottom;
	bottom: 0;
	left: 300px;
	display: inline-block;
	z-index: 4;
	animation: tobottom 800ms ease-in;
	.reource-static {
		height: 100%;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 1px 1px 30px rgba(0, 0, 0, .2);
		// background: rgba(255, 255, 255, .9);
		background: #f3f6f9;
		.titleBox {
			padding: 10px 15px;
			border-bottom: 1px solid #eee;
			.ant-select {
				float: right;
				margin-top: -5px;
				.ant-select-selection {
					height: 100%;
					border: 0 !important;
					background: transparent !important;
				}
			}
		}
		.resource-container {
			height: calc(100% - 42px);
		}
	}
}

/*底部控制*/
.home-bg .tools-resource-layer{
	width: 66px;
	height: 36px;
	overflow: hidden;
    text-align: center;
    font-size: 12px;
    position: absolute;
    right: 150px;
    z-index: 18;
    top: 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0); 
    border-radius: 3px; 
}
.tools-wrapper {
	position: absolute;
	right: 15px;
	  top: 10px;
	  z-index: 18!important;
	z-index: 12;
	height: 36px;
	line-height: 36px;
	margin-bottom: 14px;
	background: rgba(255, 255, 255, 0.90);
	box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.20);
	border-radius: 6px;
	text-align: center;
	// padding-left: 16px;
	.container {
		// @include setFlex();
		width: 280px;
		& > div {
			display: inline-block;
		}
		.tools-resource {
			padding: 0 8px;
		}
		.item {
			// @include flexNum(1);
			font-size: 12px;
			color: #666;
			cursor: pointer;
			text-align: left;
			&:hover {
				// color: $c-main-orange;
				.anticon {
					// color: $c-main-orange;
				}
			}
			.anticon {
				font-size: 16px;
				color: #8899bb;
				float: left;
				margin: 11px 3px 0 8px;
			}
			&:nth-of-type(4) {
				margin-left: 12px;
			}
		}
	}
	.full {
		width: 280px;
	}
}

/*摄像机统计图像居中*/
.alarm-antd-pr {
	text-align: center;
	canvas {
		margin-top: 10px;
	}
}

/*单项栏*/
.resource-item-wrapper {
	padding: 0 10px;
	height: 100%;
  width: 100%;
	.resource-item {
		// border-bottom: 1px solid $all-bdcolor;
		padding: 0 10px;
		height: 80px;
		line-height: 80px;
		font-size: 14px;
		.anticon {
			font-size: 30px;
			margin-top: 25px;
			margin-right: 10px;
			color: #8899bb;
			float: left;
		}
		&:first-child {
			// color: $c-main-orange;
			line-height: 60px;
			height: 60px;
			font-size: 14px;
			.anticon {
				margin-top: 15px;
				// color: $c-main-orange;
			}
			.name {
				font-weight: bold;
			}
			.font-resource-normal {
				// color: $c-main-orange;
			}
		}
		.font-resource-normal {
			float: right;
			font-size: 24px;
			color: #8899bb;
		}
		&:last-child {
			border-bottom: 0;
		}
	}
}
