.module-edit-contanier{
  height:calc(~'100% - 10px');
  overflow: auto;
  .module-edit{
    width: 1200px;
    margin: 0 auto;
    .titleLayer{
      .basetitle{
        margin: 20px 0px 0 0px;
      }
      .titleText{
        height: 40px;
        padding: 0 20px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #B5BBC7;
      }
    }
    .roleDescs{
      padding: 0 24px 0 32px;
      label{
        font-size: 12px;
        color: #666;
      }
      .ant-form-item-control{
        width: 100%!important;
      }
      input{
        width: 100%;
      }
      textarea{
        width: 100%;
      }
    }
    .roleNames{
      padding: 0 24px;
      .ant-form-item-control{
        width: 100%!important;
        padding-left: 8px;
      }
      input{
        width: 100%;
      }
      textarea{
        width: 100%;
      }
    }
    .module{
      display: block;
      padding: 16px;
      border-radius: 5px;
      box-shadow: 0px 2px 8px rgba(0,0,0,0.10);
    }
    .father{
      display: block;
      color:#fff;
      >label{
        display: block;
        font-size: 16px;
        line-height: 48px;
        padding-left: 20px;
        background: #f5f8fa;
        border-bottom: 1px solid #eee;
      }
    }
    span.firSon{
      display: block;
      color:#fff;
      padding: 0!important;
      >label{
        display: block;
        line-height: 48px;
        padding-left: 20px;
        span{
          // color: #2299FF;
        }
      }
      
      
    }
    span.secSon{
      padding: 0!important;
      >label{
        display: inline-block;
        line-height: 48px;
        padding-left: 36px;
      }
      
      
    }
  }
}
.setting-edit-btns.role-btn{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top: 1px solid #d8dce3;
  .ant-btn {
    margin: 0 4px;
  }
  .ant-btn-primary {
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}