.resource-tree-top {
  display: flex;
  height: 72px;
  width: 100%;
  padding: 16px 8px;
  align-items: center;
  justify-content: space-around;
  & > div {
    padding: 0 8px;
  }
  .title {
    font-weight: 500;
    font-size: 18px;
  }
  .device-count {
    font-size: 12px;
    .count {
      margin: 0;
      span {
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
