.org-place-tb-container{
  .place-tree-list{
    width:361px;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #D8DCE3;
  }
  .org-place-list{
    height:100%;
    .place-select-list{
      height:100%
    }
  }
}