.community-belonging{
width: 160px;
height: 148px;
background: rgba(255,255,255,0.80);
padding:16px;
padding-right: 8px;
box-shadow: 0 0 160px rgba(255,255,255,0.8) inset;
border-radius: 5px;
p{
    height: 27px;
    position: relative;
    margin-bottom: 16px;
    .anticon{
        position: absolute;
     font-size: 24px;
     top: 3px;
     color: #8899BB;
    }
    .community-count{
        display: inline-block;
        width: 48px;
        margin-left: 32px;
        margin-right: 8px;
        font-size: 12px;
        color: #333333;
        line-height: 27px;
    }
    .count-number{
        font-size: 16px;
        text-align: right;
        width: 36px;
        display: inline-block;
        line-height: 27px;

    }
}
}