.perple-entry-trend{
    position: absolute;
    width: 450px;
    height: 200px;
    right:calc(~'(100% - 730px)/2');
    transform: translateX(50%);
    bottom: 8px;
    background: #ffffff;
    .chart-top{
        background: #f3f6f9;
        height: 30px;
        padding-left: 8px;
        line-height: 30px;
        color: #ffaa00;
        font-size: 12px;
    }
}
.trend-count{
    right:calc(~'(100% - 730px + 920px)/2') !important; 
}