.container-header {
  .logo {
    color: #fff;
  }
  .user-Action {
    color: #fff;
    .broadcast-item {
      a {
        color: #fff;
        &:hover {
          color: #ffaa00;
        }
      }
    }
    .user-item {
      &:hover {
        color: #ffaa00;
      }
    }
    .user-info {
      border-right: 1px solid #565679;
      border-left: 1px solid #565679;
    }
    .system-alarm {
      background: #ff544f;
    }
  }
}
