.user-popover-content {
  .user-info {
    border-bottom: 1px solid #eee;
    .user-info-right {
      .current-user {
        color: #333;
      }
      & > div {
        width: 100%;
        .icon-span {
          color: #ff8800;
        }
      }
    }
  }
  .login-out {
    color: #999;
  }
}
