@import "./resource.less";
@import "../../vars.less";

.org-setting-wrapper{
  .setting-breadcrumb-container{
    &>span{
      color: @c-dark;
      .anticon{
        color: @icon-font-color;
      }
    }
  }
  .org-head-title {
    .orgInfo div{
      color: #999999;
    }
    .orgInfo b{
      color: #333333;
    }
  }
}
.add-edit-modal-org.orgDetiail{
  .modal-content{
    border-bottom-color:@all-bdcolor;
    background:@all-bgColor
  }
}
.add-edit-modal-org {
  .ant-form-item {
    label{
      color: @c-666;
    }
  }
}
.org-area-resource-container{
  .search-container{
    background: @c-fff;
  }
  .ant-checkbox-group{
    background:@c-fff;
  }
}
.org-place-tb-container{
  background: @c-fff;
  border-color: @all-bdcolor;
  .th{
    background: @all-bgColor;
    border-color:@all-bdcolor;
  }
  .place-tree-select{
    background: @c-fff;
    border-color: @all-bdcolor;
  }
  .place-tree-list{
    border-color: @all-bdcolor;
  }
}
.org-resource-modal-wrapper{
  .ant-modal-content{
    background: @all-bgColor;
  }
}
.device-edit-container{
  .organization-place-tree{
    .resource-select-tree {
      background:@c-fff;
    }
  }
  .tb{
    .search-container{
      background: @c-fff;
    }
    .ant-checkbox-group{
      background: @c-fff;
    }
  }
}
