@import '../../vars.less';

.community_suspension{
  background: rgba(255,255,255,1);
  .suspension_box {
    border-right-color: #eaedf1;
    .icon_box {
      border-color: #ccc;
      .anticon {
        color: #8899BB;
      }
    }
    .box_type {
      .box_type_p {
        color: #333333;
      }
      .box_type_span {
        color: @primary-color;
      }
    }
  }
}