@import '../../vars.less';
.card-design-community{
    &:hover{
        border: 1px solid @primary-color;
    }
    .card-design-top{
        .card-design-top-left{
            p:nth-child(1) {
                color:  @primary-color;
              }
        }
    }
    .circle-half{
        .pop-hover-detail{
          .bottom-click {
            &:hover{
                color: @primary-color;
              }
          } 
        }
    }
    .add-tag{
        .real-tag{
            &:hover {
                color: @primary-color;
                border:1px solid @primary-color;
              }
        }  
    }
}


.circle-half-community{
    color: @primary-color;
    border: 1px solid @primary-color;
}
.circle-half-community-diff{
    border: 1px solid @primary-color;
    color: @primary-color;
}
.upload-input-view .upload-input-box .search-btn{
  background-image:linear-gradient(-180deg, @all-active-orange 0%, @primary-color 100%);
}
.community-exp{
    .left-community {
        .left-community-top{
            .flex-community{
             span{
                 color:@primary-color;
             }
            }
        }
        .card-mas-community{
            .card-one{
             .font-resource-normal{
                 color:@primary-color;
             }
            }
        }
    } 
 }
 .alarm-container-header-search .header-text .text-red{
     color: @primary-color
 }
 .pagtion_search {
    .ant-btn:active,
    .ant-btn:hover,
    .ant-btn:focus {
        color: @all-active-orange;
        border-color: @all-active-orange;
    }
}
.alarm-container-header-search {
    .header-input-people {
		.pagtion_Paging {
			.paging_left {
				&:hover {
					color: #fff;
					background-color:@all-active-orange;
					border-color: @all-active-orange;
					.anticon {
						color: #fff;
					}
				}
				&.paging_left_No {
          cursor: not-allowed;
          &:hover {
            color: #fff;
            background-color: transparent;
            border-color: #ccc;
            .anticon {
              color: #ccc;
            }
          }
				}
				.anticon {
					font-size: 16px;
					color: @all-active-orange;
				}
			}
			.paging_number {
				width: auto;
				margin-bottom: 0;
				line-height: 32px;
				text-align: center;
				margin: 0 6px;
			}
		}
	}
    .header-button {
		.ant-btn-block.ant-btn-primary {
			background: #fff;
			color: @all-active-orange;
			border: 1px solid @all-active-orange;
			&:hover,
			&:active,
			&:focus {
				color: #fff;
				background-color: @all-active-orange;
				border-color: @all-active-orange;
			}
			.anticon {
				font-size: 16px;
			}
		}
	}
}
.little-pagtion-down {
	.ant-select-dropdown-menu .ant-select-dropdown-menu-item-active {
		color: @all-active-orange;
	}
}
.attention-handle{
    .anticon{
        color: @all-active-orange;
    }
}
.alarm-scroll-height{
   background: @all-active-orange no-repeat center center;
}
.card-design-community-another-unregistered {
    &:hover{
        border: 1px solid @primary-color;
    }
    .circle-half{
        .tag-detail-draw{
            .bottom-click{
                &:hover{
                    color:@primary-color;
                }
            }
        }
    }
}
.card-design-community-another-unregistered .circle-half .add-tag .real-tag:hover{
    color: @primary-color;
    border:1px solid @primary-color;
}
.content_people_right{
    color: @primary-color;
}
.count-number{
    color: @primary-color;
}
.community-chart-right-num{
    color: @primary-color;
}
.community-header-total{
    .total{
        .number{
          color: @primary-color 
        }
    }
    .header-btn{
        color: @primary-color;
      border: 1px solid @primary-color;
      &:hover{
          background: @primary-color;
          color: #fff;
      }
    }
}
.community-personnel-card{
    &:hover{
        border-color: @primary-color;
    }
    .icon-focused{
        color:  @all-active-orange !important; 
    }
    .name{
        color: @primary-color;  
    }
    .label{
        border: 1px solid @primary-color;
        color:  @all-active-orange;
    }
}
.community-float-card{
    &:hover{
        border-color: @primary-color;
    }
    .follow{
        color: @primary-color !important;
    }
    .label{
        border: 1px solid @primary-color;
        color:  @all-active-orange;
    }
}