@import '../../vars.less';
.detail_view {
    background: #f3f6f9;
  .community_residence {
    .access_card{
      border-color: @c-ccc;
        .img_box {
          .anticon {
            color: rgba(255,255,255,.9);
          }
        }
        .card_content{
          .content_name{
            color: @primary-color2;
          }
          .content_info{
            .anticon {
              color: @icon-font-color;
            }
            .info_value{
              color: #333333;
            }
            .info_name {
              color:@primary-color2;
            }
          }
        }
      }
    .header_title, .record_header {
      color: @primary-color;
    }
  }
}
.residence_detail_modal {
  .ant-modal-content {
    .ant-modal-body {
      background: #f8f8f7;
      .residence_detail_modal_content {
        .modal_radio {
          .radio_label {
            color: #666666;
          }
          .ant-checkbox-group {
            .ant-row {
              .ant-checkbox-wrapper {
                span {
                  color: #666666;
                }
              }
            }
          }
        }
      }
    }
  }
}
