.community_list{
  background: #F3F6F9;
  .community_list_header {
    background: #D8DCE3;
    .list_title {
      color: #333333;
    }
  }
  .list_search {
    background: #F3F6F9;
  }
  .list_content {
    background: #F3F6F9;
  }
}