@import '../../vars.less';
.house_power{
  .house_power_header{
    .house_power_title{
      color: @primary-color;
    }
  }
  .power_content{
    border-color: #ccc;
    background: #fff;
    .power_box{
      .power_text{
        color: @primary-color;
      }

    } 
    .power_value{
      color: @primary-color;
    }
  }
}