@import '../../vars.less';
.label_value_box{
    .label_value{
        color: @primary-color;
       border: 1px solid @primary-color;
    }
}
.residence_people{
    .people_title{
      color:@primary-color;
    }
}
.trajectory_header{
    .header_title{
        color:@primary-color;  
    }
}
.residence_time .time_content_two .box_img_box .box_message .anticon{
    color:@all-active-orange;
}
.center_text{
    .text_name{
        color:@primary-color; 
    }
}
.header_left{
    .handle-focus {
        .anticon {
            color:@all-active-orange;
        }
    }
}