@import '../../vars.less';

.community_residence_header{
.header_content{
  border-color: #ccc;
  background: #fff;
}
.header_left{
  .handle-focus{
    background: #ffffff;
  }
}
.header_right{
  .right_message{
    .message_name{
      color: @primary-color;
      border-bottom-color: #ccc;
    }
    .message_content{
      border-bottom-color: #ccc;
      .text_box{
        .content_text{
          color: #333333;
        }
        .text_value{
          color: #666666;
        }
      }
    }
    .message_content_lately{
      border-bottom-color: #ccc;
      .text_box{
        .content_text{
          color: #333333;
        }
        .text_value{
          color: #666666;
        }
      }
    }
    .message_content_label{
      .label_value_box{
        .label_value{
         border-color: #ccc;
        }
        .label_add{
          border-color: #8899BB;
          cursor: pointer;
          &:hover{
           border-color: @primary-color2;
            .anticon{
             color: @primary-color2;
            }
          }
          .anticon{
            font-size: 20px;
            color: #8899BB;
          }
        }
      }
    }
  }
  .right_chart{
    .chart_title{
     color: @primary-color;
      border-bottom-color: #ccc;
    }
  }
}
}