.community-header-total {
    display: flex;
    padding-right: 24px;
    position: absolute;
    right: 0;
    top: 9px;
    z-index: 10;
    .total {
      font-size: 12px;
      text-align: right;
      line-height: 28px;
      .number {
       // color: #FFaa00;
        font-weight: 500;
      }
    }
    .header-btn {
      width: 80px;
      height: 28px;
      border-radius: 3px;
      line-height: 28px;
     /*  color: #FFaa00;
      border: 1px solid #ffaa00; */
      margin-left: 16px;
      background: #fff;
      text-align: center;
      font-size: 12px;
      cursor: pointer;
      .anticon {
        font-size: 16px;
        margin-right: 4px;
      }
    }
  }